#recomment{
    width : 100%;
    height: 1.28rem;
   
}
#recomment>.swiper-container{
    width: 100%;
    height: 100%;
}
#recomment>.swiper-container>.swiper-wrapper{
    width: 100%;
    height: 100%
}
#recomment>.swiper-container>.swiper-wrapper>.swiper-slide{
   height:.60rem;
   text-align: center;
   font-size: .30rem;
   border:1px solid #e6e6e6;
   line-height:.60rem;
   margin-top:15px;
  
   
}
#navbar{
    width: 100%;
    height: 4rem;
    margin-top: 0.20rem;
    
    font-size: 30px
}
#navbar .ant-tabs-nav-scroll{
    font-size: 30px;
    border-bottom: none;
    display: flex;
    justify-content: space-around
    
} 
#navbar .tabbar{
    width: 100%;
   min-height: 3.10rem;
  

}
#navbar .tabbar .tabcar{
    width: 1.5rem;
    height: 1.32rem;
    padding: 0.04rem 0;
   
   display: inline-block;
   text-align: center;
    position: relative
}
#navbar .tabbar .tabcar>img{
    width: 1rem;
    height: 1rem;
    position: absolute;
    margin-left: -0.5rem;
    left: 50%

}
#navbar .tabbar .tabcar>p{
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    margin-left: -0.3rem;
    font-size: 25px
}
#navbar .tabbar{
    width: 100%;
    font-size:30px
}


#navscoll{
    width: 100%;
    height: 3.75rem;
  
}
#navscoll>.nav_container{
    width: 100%;
    height: 100%
}
#navscoll>.nav_container>.swiper-wrapper{
    width: 100%;
    height: 100%
}
#navscoll>.nav_container>.swiper-wrapper>.swiper-slide{
    width: 100%;
    height: 100%;
}

/*#navscoll>.nav_container>.swiper-wrapper>.swiper-slide>div{
    width: 100%;
    height: 100%;
    float: left;
}*/
#navscoll>.nav_container>.swiper-wrapper>.swiper-slide>img{
    width: 100%;
    height: 100%;
    float: left;
    
}
#newstop{

    width: 100%;
    height: .88rem;
    padding:0 20px;
    background: #ccc
}
#newstop span{
    display: inline-block;
    
}
#newstop #topnews{
    width:.64rem;
    height: .36rem;
    padding: 0  .08rem;
    margin-right:.10rem;
    margin-top:.26rem;
    background: red;
    color: #fff
}
#newstop #new{
    font-size :32px;
    margin-top:.28rem;
    margin-left:.10rem;
}
#contentlist{
    border-top:1px solid #e6e6e6;
    width: 100%;
    height: 1.74rem;
  
}
#contentlist a{
    display:flex;
    height: 1.74rem;
    width: 1.50rem;
    flex-direction:column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding:.20rem 0 .40rem
    
}
#contentlist a>img{
    width: .80rem;
    height: .80rem;
}
#adver,#getailisting{
    width: 100%;
    height: 2.28rem;
    margin-top: .20rem;

}
#adver>a,#getailisting>a{
    width: 100%;
    height: 100%;
    padding: .30rem;
    display: flex;
    justify-content: space-between
}
#adver>a>span,#getailisting>a>span{
    display: block;
    font-size: 32px;
    color: #333;
    line-height: 55px
}
#adver>a>img,#getailisting>a>img{
    margin-left: .16rem;
    width: 2.24rem;
    height: 1.68rem
}
#creact{
    width:100%;
    height: 0.88rem;
    background: #fcc
}
#creact>.navbar-container{
    width: 100%;
    height: 100%;
}
#creact>.navbar-container>.swiper-wrapper{
    width: 100%;
    height: 100%;
}
#creact>.navbar-container>.swiper-wrapper>.swiper-slide{
    height: 100%;
    width: 20%;
    line-height:0.88rem;
    text-align: center
}
#creact>.navbar-container>.swiper-wrapper>.swiper-slide>p{
    font-size: 30px;
}
#all{
    width: 100%;
    height: 100%
}
#all>.car{
    width: 100%;
    height: 2.28rem;
    display: flex;
    justify-content: space-between;
    padding: .30rem
}
#all>.car>img{
    width: 2.24rem;
    height: 1.68rem
}
#all>.car>p>span{
    font-size: 30px
}
#all>.car>p>span:nth-child(2){
    margin-left: 1.5rem;
    font-size: .25rem
}
#all>.car>p>p:nth-child(3){
    margin-top:40px;
    font-size: .25rem;
    
}
#all>.car>p>p>span{
    color: red
}

#news{
    width: 100%;
    height: 100%;
    
}
#news>#head{
    width: 100%;
    height: 4.30rem;
    background: #FFF;
    margin-bottom: .20rem
}
#news>#head>#title{
    width: 100%;
    height: .80rem;
    border-bottom: 0.02rem solid #f5f5f5;
    font-size: 0.3rem;
    padding: .3rem .4rem;
}
#news>#head>.car_container{
    width: 100%;
    height: 3.88rem;
    
}
#news>#head>.car_container>.swiper-wrapper{
    padding-left: 0.30rem;
   
}
#news>#head>.car_container>.swiper-wrapper>.swiper-slide{
    width: 2.24rem;
    height: 1.48rem;
    padding: 0.24rem 0;
    margin:0 .30rem 0 0
}
#news>#head>.car_container>.swiper-wrapper>.swiper-slide>img{
    width: 2.24rem;
    height:1.68rem
}
#news>#head>.car_container>.swiper-wrapper>.swiper-slide>p{
    margin-top: .2rem;
    font-size: .2rem;
    color: #444;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#usecar{
    width: 100%;
    
}
#usecar>div{
    width: 100%;
    height: .82rem;
    border-bottom: 0.02rem solid #ccc;
    padding-left: .30rem;
    font-size: 0.3rem

}

#usecar>ul>li>img{
    width: 1.8rem;
    height: 1.36rem;
    margin-right: 0.20rem
    
}
#usecar>ul>li{
    width: 100%;
    padding:.24rem 0.3rem;
    display: flex;
    
    
}

#usecar>ul>li>#info>p{
    font-size: 0.30rem;
    margin-bottom: 0.2rem
}
